[submodule "pack/vendor/start/mru"]
	path = pack/vendor/start/mru
	url = https://github.com/lvht/mru.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/vendor/start/ack"]
	path = pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/vendor/start/markdown"]
	path = pack/vendor/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/vendor/start/tagbar-markdown"]
	path = pack/vendor/start/tagbar-markdown
	url = https://github.com/lvht/tagbar-markdown.git
[submodule "pack/vendor/start/tender"]
	path = pack/vendor/start/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/vimagit"]
	path = pack/vendor/start/vimagit
	url = https://github.com/jreybert/vimagit.git
[submodule "pack/vendor/start/tcomment"]
	path = pack/vendor/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/vendor/start/stim"]
	path = pack/vendor/start/stim
	url = https://github.com/ironhouzi/vim-stim.git
[submodule "pack/vendor/start/tabular"]
	path = pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/vendor/start/nerd-git-plugin"]
	path = pack/vendor/start/nerd-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/vendor/start/rainbow"]
	path = pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/vendor/start/vimsnippets"]
	path = pack/vendor/start/vimsnippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/vendor/start/vim-one"]
	path = pack/vendor/start/vim-one
	url = https://github.com/rakr/vim-one.git 
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git 
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git 
[submodule "pack/vendor/start/auto-pair"]
	path = pack/vendor/start/auto-pair
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/vendor/start/vim-easymotion"]
	path = pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "pack/vendor/start/vim-toml"]
	path = pack/vendor/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/vendor/start/nivm-treesitter"]
	path = pack/vendor/start/nivm-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/vendor/start/nvim-cmp"]
	path = pack/vendor/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/vendor/start/cmp-nvim-lsp"]
	path = pack/vendor/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/vendor/start/nvim-lspconfig"]
	path = pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/vendor/start/vim-vsnip"]
	path = pack/vendor/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/vendor/start/gitsigns"]
	path = pack/vendor/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/vendor/start/plenary"]
	path = pack/vendor/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/vendor/start/cmp-path"]
	path = pack/vendor/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/vendor/start/cmp-vsnip"]
	path = pack/vendor/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "pack/vendor/start/cmp-buffer"]
	path = pack/vendor/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/vendor/start/popup"]
	path = pack/vendor/start/popup
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/vendor/start/nvim-colorizer"]
	path = pack/vendor/start/nvim-colorizer
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/vendor/start/material"]
	path = pack/vendor/start/material
	url = https://github.com/marko-cerovac/material.nvim
[submodule "pack/vendor/start/oceanic-next"]
	path = pack/vendor/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule "pack/vendor/start/nvim-blamer"]
	path = pack/vendor/start/nvim-blamer
	url = https://github.com/ttys3/nvim-blamer.lua
[submodule "pack/vendor/start/copilot.vim"]
	path = pack/vendor/start/copilot.vim
	url = https://github.com/github/copilot.vim
